.bg-primary {
  background: #101010;
  background: linear-gradient(rgb(33,33,33),rgb(33,33,33));
}

.btn.active, .btn:active, .btn:focus, .btn:hover {
  color: #000000;
  border-color: #c3c3c3;
  background-color: rgba(216,167,157,0.1);
}

.btn-outline-warning:not(:disabled):not(.disabled).active, .btn-outline-warning:not(:disabled):not(.disabled):active, .show > .btn-outline-warning.dropdown-toggle {
  color: #ffffff;
  background-color: rgba(200,200,200,0.4);
  border-color: #fff;
}

body {
  margin: 0;
  font-family: Catamaran,Helvetica,Arial,"sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(216,167,157);
  text-align: left;
  background-color: rgb(52,52,52);
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: #3e3e3e;
  /*background: #7b4397;*/
  background: none;
}

#mainNav {
  border-color: rgb(35,35,35);
  background-color: rgba(41,41,41,0.1);
  transition: all .35s;
}

.bg-dark {
  background-color: rgba(33,33,33,0.3)!important;
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: linear-gradient(rgb(216,167,157),rgb(216,167,157));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-muted {
  color: rgb(213,216,252)!important;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 0px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #2d2d2d;
}

#mainNav .navbar-nav > li > a:focus:hover, #mainNav .navbar-nav > li > a:hover {
  color: #222222;
}

#mainNav .navbar-nav > li > a.active {
  color: #ffffff!important;
  background-color: transparent;
}

header.masthead .header-content h1 {
}

a {
  color: rgb(216,167,157);
  transition: all .35s;
}

a:focus, a:hover {
  color: #856284;
}

.table-bordered, .table-bordered td, .table-bordered th {
  border: 0px solid #dee2e6;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 350px;
  word-wrap: break-word;
  background-color: #1f1f1f;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

@media (min-width:100px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 5657px;
  }
}

html, body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 1vw;
}

/* Track */

::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #4f4f4f;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Catamaran,Helvetica,Arial,"sans-serif";
  font-weight: 25;
  letter-spacing: 1px;
}

.btn.active, .btn:active, .btn:focus, .btn:hover {
  color: #989898;
  /*border-color: #fdcc52;*/
  /*background-color: #fdcc52;*/
}

