.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding: 15px;
}

@media (min-width:100px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 80vh;
  }
}

.w-100 {
  width: 30%!important;
  align-self: center;
  /*height: 30%!important;*/
  padding-top: 30%;
  /*max-width: 200px;*/
  margin-top: 32px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  /*min-width: 300px;*/
  word-wrap: break-word;
  background-color: rgba(0,0,0,0);
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  /*max-width: 450px;*/
  height: 450px;
  /*border-radius: 20px;*/
}

